/* 전체 너비 (부모가 body) */
.container {
	margin: 0 auto;
	width: 70%;
	border: 1px solid red;
}

/* 작성자, 작성일자, 조회수, 댓글 수 보이는 창 */
.content-info {
	display: flex;
	justify-content: space-between;
}

/* 글 내용 보이는 곳 */
.content-body {
	width: 100%;
	height: 300px;
	/* border: none;
            resize: none; */
	background-color: yellow;
}

/* 글 내용 아래에 있는 버튼들 */
.content-button {
	display: flex;
	justify-content: space-between;
}

/* 글 내용 아래에 있는 버튼들 꾸밈 */
.content-button button {
	color: #fff;
	font-size: 13px;
	background: #333;
	border: none;
	padding: 8px;
	border-radius: 4px;
	cursor: pointer;
}

/* 댓글창 정렬 */
.reply {
	display: flex;
	justify-content: space-between;
}

/* 댓글창에 있는 버튼들 꾸밈 */
.reply-button button {
	color: #fff;
	font-size: 13px;
	background: green;
	border: none;
	padding: 8px;
	border-radius: 4px;
	cursor: pointer;
}